.form {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(50px);
  border-radius: 30px;
  width: 40%;
  margin: 0 auto;
  padding: 50px;
  font-family: Manrope;

  animation: openForm 1s ease-in forwards;
}

.formInputs {
  margin-bottom: 40px;
  width: 30%;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.4s;
  border: none;
  background-color: #ffffffe4;
}

.btnForm {
  width: auto;
  font-size: 25px;
  border: none;
  background: black;
  border-radius: 10px;
  padding: 20px 30px;
  color: #fff;
  cursor: pointer;
}

label {
  font-size: 40px;
  color: #fff;
  margin-bottom: 10px;
}

.formInputs:focus {
  outline: none;
  box-shadow: 0px 0px 10px 4px inset black;
  border: none;
}

.errorMessage {
  position: absolute;
  bottom: -10px;
  font-size: 40px;
  background-color: red;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  animation: errorMsg 0.7s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@keyframes openForm {
  0% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    box-shadow: 0px 0px 10px 4px inset black;
  }
}

@keyframes errorMsg {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.closeModal {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.closeModalImg {
  height: 40px;
}
